.welcome {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3em;
}

.main-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 50vw;
}

.tavern-title {
    display: flex;
    flex-direction: column;
    width: 55%;
}

#title {
    font-size: 60px;
    text-align: center;
}

.tavern-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.tav-desc {
    font-family: 'Overpass', sans-serif;
    padding: 1rem;
    max-width: 70%;
    background-color: rgba(0, 0, 0, .4);
}

.tav-desc a {
    color: #04D9B2;
    text-decoration: none;
}

.tav-desc a:hover {
    text-decoration: underline;
    text-underline-offset: 3px;
}

.menu-btn {
    padding: 1rem;
    display: flex;
    align-items: center;
    font-size: larger;
    text-align: center;
    background-color: black;
    text-decoration: none;
    color: #FFEAB7;
}

.menu-btn:hover {
    background-color: #04D9B2;
    color: black;
}

.loc-info {
font-family: 'Overpass', sans-serif;
font-size: xx-large;
text-align: center;
padding: 1rem;
}

#loc-title {
font-family: 'Original Surfer', cursive;
margin-bottom: .5rem;
}

/* #bg-vid {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
} */
