body {
    font-family: 'Original Surfer', cursive;
    margin: 0;
    padding: 0;
    background-image: url('https://i.imgur.com/bFvK3BA.png');
}

.tavern-title, .loc-info, .tavern-media, .loc-hrs {
    background-color: rgba(4, 14, 6, 0.8);
    color: #FFEAB7;
}
